  <!DOCTYPE html>
<html lang="pt-BR">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7">
  <title>index</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

<header class="search-header">
  <div class="search">
    <input spellcheck="false" type="text" id="titleInput" placeholder="Pesquisar" autocomplete="off">
    <div class="dropdown">
      <button id="filterButton">
        <i class="fas fa-filter"></i>
      </button>
      <div id="filterOptions" class="dropdown-content">
          <div class="filter2"> 
            <button id="marcar" onclick="marcarTodas()">Selecionar Tudo</button>
          </div>
          <div class="filter3"> 
            <button id="desmarcar" onclick="desmarcarTodas()">Limpar Seleção</button>
          </div>
          <div class="apply">
            <button id="applyButton" onclick="teste()">Aplicar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="resultCountContainer"> 
  <div class="results"> 
    <p>Resultados: <span id="results-count">0</span></p>
  </div>
</div>

<div class="results-wrapper"> 
  <div id="resultContainer"></div>
</div>


<div id="loading" style="display:none">
  <div id="loadingSpinner" style="display: flex;">
    <span class="loader"></span>
  </div>
</div>

<div id="notificationContainer"> 
  
</div>

<script src="../public/js/search.js"></script>
</body>
</html>
