/*css geral, não tenho certeza se vou usar isso, mas se for, vai ser pra coisas como html, body , etc*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to left bottom, #000204, #0a0d13, #101418);

    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Poppins';
    color: white;
    margin: 0;
    padding-top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: gradientMove 100s infinite alternate ease-in-out;
}

@keyframes gradientMove {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 1000%;
    }
    100% {
        background-size: 100%;

    }
  }

::-webkit-scrollbar {
    width: 0.6vmin;
}
 
::-webkit-scrollbar-track {
    background: #0e0f12e0; 
}

::-webkit-scrollbar-thumb {
    background-color: #0a0a0a;
    transition: all 10s ease-out;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000000b9;
}
  

.filter3 {
    border-bottom: 2px solid #868686;
    width: auto;
}  

.filter2 {
    border-bottom: 2px solid #868686;
    width: auto;
    margin-right: 0px;
}
  
#filterOptions {
    background-color:#0e0e0ee7;
   

}

#marcar {
    width: 100%;
    height: 40px;
    border-radius: 10px 0px 0px 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 2px solid #868686;
    border-bottom: 0px;
    background-color: #070707;
    color: #ffffffef;
    outline: none;
    border: 0px solid;
    cursor: pointer;
}
#marcar:hover {
    background-color: #000000;
}

#desmarcar {    
    width: 100%;
    height: 40px;
    border-radius: 0px 10px 0px 0px;
    border-left: 2px solid #868686;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #070707;
    color: #ffffffef;
    outline: none;
    cursor: pointer;
}

#desmarcar:hover {
    background-color: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    /* background-color: red; */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -13.5px;
    left: -272.1px;
    scale: 0.8;
    width: 300px;
    background-color: #111111;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid #868686;
    border-radius: 10px 0px 10px 10px;
    display: none;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown-content > * {
    width: 50%; /* Faz com que cada item ocupe aproximadamente metade da largura */
    margin-bottom: 5px;
    
}

.dropdown-content label {
    display: flex;
    align-items: center;
}


.dropdown-content.visible {
    display: block;
}


.dropdown button i {
    margin-left: 5px;
}


.search-header {
    background-color: rgba(14, 13, 13, 0.529);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #424242;
}



.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0f1275;
    border: 1px solid #424242;
    border-radius: 40px;
    width: 56vw;
    max-width: 600px;
    height: 45px;
}

#clear {
    width: 49px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;

}

.searchBar {
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 40px 0px 0px 40px;
}

.focus-sB{  
    border: 1px solid #4d90fe;

}



#titleInput::placeholder {
    color: #f1f1f1;
}

#seta-filtro {
    font-size: 25px;
}

input#titleInput {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-radius: 40px 0px 0px 40px; /* Ajuste o valor para o grau de arredondamento desejado */  
    background: none;
    border: none;
    color: #f1f1f1;
    outline: none;
    font-size: 22px;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

button#filterButton {
    height: 100%;
    font-family: 'poppins';
    font-weight: 200;
    font-size: 30px;
    padding-left: 15%;
    color: #bbbbbb;
    background-color: #0f0f0f;
    border-right: none;
    border-left: 1px solid #424242;
    border-bottom: none;
    border-top: none;
    outline: none;
    border-radius: 0px 40px 40px 0px;
    width: 70px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

button#filterButton:hover {
    color: #f1f1f1;
}

.resultCountContainer {
    margin-top: 10px;
    /* background-color: #00BF62; */
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    /* background-color: #0040ff; */
    color: #FEFDF6;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
}

.results.scrolled {
    opacity: 0;
}

.results-wrapper {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin: auto;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    padding-top: 0px;
    padding: 2px 20px 20px 20px;
    box-sizing: border-box;
}

#resultContainer {
    /* background-color: #00f014; */
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.source-card {
    /* background-color: #00f01479; */
    display: flex;
    gap: 1px;
    line-height: 1;
    padding: 3px;
    border-radius: 10px 10px 0px 0px;
}

#source {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #424242;
    font-weight: 200;
    max-width: max-content;
    padding: 4px;
    margin: 2px;
}

.title {
    /* background-color: chartreuse; */
    height: 90px;
    overflow: hidden;
    text-justify: center;
}

#size {
    /* background-color: #00f014; */
    font-size: 16px;
    padding-left: 2px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 5px 10px 15px 10px;
}

#title  {
    /* background-color: #00f014; */

    font-size: 16px;
    overflow: hidden;
    line-height: 1.2;
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    
    margin: 5px 10px 5px 10px;
}

.bottom-card {
    display: flex;
    justify-content: space-between;
    background-color: #0f0f0f;
    height: 50px;
    border-top: 2px solid #868686;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

#Data {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #424242;
    font-weight: 200;
    max-width: max-content;
    padding: 4px;
    margin: 2px;
}

.openTorrentButton {
    background-color: #00BF62;
    width: 72%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffffef;
    outline: none;
    border: 1px solid #868686;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.openTorrentButton:hover {
    background-color: #01a857;
    transform: scale(1.03);
}

.copyButton {
    background-color: #dad7d7;
    width: 25%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffffef;
    outline: none;
    border: 1px solid #868686; 
    transition: transform 0.3s ease-in-out;
    cursor: pointer; 
}

.copyButton:hover {
    background-color: #c7c6c6;
    transform: scale(1.03);
}

.resultCard {
    background-color:rgba(29, 33, 43, 0.259);
    width: 100%;
    /* padding-left: 10px;
    padding-right: 10px; */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    line-height: 0.1;
    margin: 0;
    color: white;
    max-height: 280px;
    min-width: 350px;
    border: 2px solid #868686;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all  0.5s ease-in-out;
}

.hidden {
    display: none;
  }
  

.resultCard:hover {
    transform: scale(1.007);
}

/* Responsividade */
@media (min-width: 1200px) {
    .resultCard {
        flex: 1 1 calc(20% - 20px); /* 5 cards por linha */
    }
}

@media (max-width: 1200px) and (min-width: 1000px) {
    .resultCard {
        flex: 1 1 calc(23% - 20px); /* 4 cards por linha */
    }
    
}

@media (max-width: 1000px) and (min-width: 900px) {
    .resultCard {
        flex: 1 1 calc(30% - 20px); /* 3 cards por linha */
    }
    input#titleInput {
        font-size: 18px;
    }
    button#filterButton {
        width: 50px;
        padding-left: 5%;
    }
   
}

@media (max-width: 900px) and (min-width: 400px) {
    .openTorrentButton {
        width: 70%
    }
    .resultCard {
        flex: 1 1 calc(30% - 20px); /* 3 cards por linha */
    }
}


/* Estilos de título e texto dentro dos cards */
.resultCard h3 {
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 10px;
}

.resultCard p {
    font-size: 14px;
    margin: 5px 0;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: #d5d5d5;
    border-radius: 13px;
    cursor: pointer;

}
label{
    color: #f1f1f1;
    font-size: 16px;
    font-family: 'poppins';
    cursor: pointer;
}
input[type="checkbox"]::after{
    background-color: #d5d5d5;
}
input[type="checkbox"]:hover{
    background-color: #929292;
}
input[type="checkbox"]:checked{
    background-color: #00BF62;
}
input[type="checkbox"]:checked:hover{
    background-color: #028f4b;
}

/* Container fixo para notificações */
#notificationContainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* defina o tamanho conforme desejado */
    height: 70px; /* altura da área de notificação */
    pointer-events: none; /* para que cliques passem por ele, se necessário */
    z-index: 1000;  
}

    /* Cada notificação ocupa o mesmo espaço dentro do container */
.copy-notification {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-weight: 800;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(100%); /* inicia fora da área (para baixo) */
    transition: transform 0.55s ease, opacity 0.5s ease;
}

    /* Estado visível: a notificação sobe para ocupar o espaço */
.copy-notification.show {
    opacity: 1;
    transform: translateY(40%);
}

#loadingSpinner {
    /* background-color: #00BF62; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ffffff00;
    border-bottom-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.scrollToTop {
    background-color: #333;
    justify-content: center;
    align-items: center;
    width: 5vmin;
    height: 5vmin;
    font-size: 3vmin;
    color: #f1f1f1;
    border-radius: 5vmin;
    opacity: 0;
    animation-name: appear;
    animation-timeline: scroll(y);
}

@keyframes appear {
    0% {
        opacity: 0;
        display: none;
        position: fixed;
    }
    1% {
       opacity: 1;
        display: flex;
        position: fixed;
    }
    100% {
        opacity: 1;
        display: flex;
        position: fixed;
    }
}